/*CSS - Cascading Style Sheets*/
/*External CSS*/

*{
    margin : 0;   /*To avoid the default padding and margin of browser*/
    padding : 0;
}

body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
}

.navbar{
    display : flex;
    align-items: center ;
    justify-content: space-around;
    background-color: #fff;
}

.navbar__brand{
    width : 100px;
}

.navbar__logo{
    width : 200px;
}

.button__primary {
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
    color : #fff;
    border : none;
    padding : 12px;
    border-radius: 6px;
    font-weight: 600;
}

.button__primary :hover {
    border : 2px solid #FF6767;
    cursor : pointer;
}

.container{
    max-width: 100%;
    padding : 20px;
    /*margin: 0 auto;*/
    margin-right: auto;
   margin-left: auto;
}

.hero__container {
    margin-top: 1rem;
}

.hero__image__container {
    position: relative;
    width: 100%;
  }
  
.hero__image__shape {
    position: absolute;
    right: 2;
}

.hero__image {
    position: absolute;
    width: 100%;
    right: auto;
    left: auto;
    z-index: 2;
    border-radius: 6px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

.hero__text {
    font-weight: 800;
    font-size: 30px;
    margin: 20px 0;
    color: #1d3557;
}

.food__card__container{
     padding: 15px;
}

.food__card{
    background-color: #F9F9F9;
}

.food__card__image__container{
    width: 100%
}

.food__image{
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.explore__menu__text{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: #1d3557
}

@media(min-width : 768px){

   .explore__menu__lists{
       margin-top: 45px;
       display: flex;
       gap: 15px;
       padding: 0 30px;
    }

    .explore__menu__container{
        position: relative;
    }

    .explore__menu__gradient__bg{
        background-image: linear-gradient(to right,#ff512f 0%, #dd2476 51%, #ff512f 100% );
        z-index: -3;
        transform: skewY(-5deg);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #pizza__card{
        margin-top: -30px;
        margin-bottom: 30px;
    }

    .navbar{
        justify-content: space-between;
        padding : 10px 30px;
    }

    .hero__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    
    .hero__image {
        margin-top: 2rem;
    }

    .food__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 2rem;
    }

    .food__card__image__container{
        /*flex-basis: 30%;*/
        background-color: #fff;
        border-radius: 6px;
    }
}

@media (min-width : 1200px){
    .explore__menu__lists{
        gap: 25px;
     }

    .container{
        max-width: 70%;
    }

    .hero__text {
        font-size: 3rem;
        line-height: 1;
    }

    .navbar__brand{
        width : 150px;
    }

    .button__primary{
        padding : 20px;
        font-size: 20px;
    }

    .hero__description{
        width : 100%
    }

    .hero__text{
        font-size:50px ;
    }

    .food__card{
        margin-top: 2rem;
    }

    .explore__menu__text{
        font-size: 48px;
    }

}




